/.settings
/.project
/.buildpath
/.idea
.idea/modules.xml
.idea/workspace.xml
/user-service.iml
/user-service-provider/target/
/user-service-api/target/
/user-service-api/user-service-api.iml
/user-service-provider/user-service-provider.iml
